body {
    background-color: #7e96af;
    background-image: url("./images/psr.jpg");
    background-size: 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
   
}
main {

    display: flex;
    align-items: center;
    justify-content: center;
    
}
.btn {

    display: flex;
    align-items: left;
    justify-content: center;
    margin-left: 25%;
    width: 50%;
   
}
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
   padding-top: 10%;  padding-top: 10%;     
}

footer {
   
}






#img{
   
    max-width: 100%;
    height: auto;
    opacity: 0.8;
}