body {
    background-color: #7e96af;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;     
}

main {

    display: flex;
    align-items: center;
    justify-content: center;
}
/*.img{
    width: auto;
    

}*/